<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <head layout:include="fragments/header :: headerFragment" th:remove="tag"/>
    <title th:utext="#{login}"/>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<section>
    <div class="page-header">
        <h1> </h1>
    </div>
</section>
<div class="container">

    <div class="container">
        <div class="row">
            <div class="offset4">
                <div class="span4 well">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" id="loginTabLink"  href="#loginTab"><b th:utext="#{login}"/></a>
                        </li>
                        <li>
                            <a data-toggle="tab" id="signUpTabLink" href="#signUpTab"><b th:utext="#{sign_up}"/></a>
                        </li>
                    </ul>
                    <div class="tabbable">
                        <div class="tab-content">
                            <div id="loginTab" class="tab-pane active">
                                <div class="alert alert-error" th:if="${registerTab == null and error != null}">
                                    <a class="close" data-dismiss="alert">x</a><span th:text="${error}"/>
                                </div>
                                <div class="alert alert-success" th:if="${message}">
                                    <a class="close" data-dismiss="alert">x</a><span th:text="${message}"/>
                                </div>
                                <div id="sendCredentialsStatus"/>
                                <form method="POST" th:action="@{/j_spring_security_check}" accept-charset="ISO-8859-1">
                                    <input type="email" id="j_username" name="j_username" class="span4" th:placeholder="#{email}" required="" />
                                    <input type="password" id="j_password" name="j_password" class="span4" minlength ="6" th:placeholder="#{password}" required="" />
                                    <label class="checkbox">
                                        <input type="checkbox" name="_spring_security_remember_me" value="1" th:utext="#{remember_me}"/>
                                    </label>
                                    <button type="submit" name="submit" class="btn btn-primary btn-block" th:utext="#{sign_in}"/>
                                </form>
                            </div>
                            <div id="signUpTab" class="tab-pane">
                                <div class="alert alert-error" th:if="${registerTab == true and error != null}">
                                    <a class="close" data-dismiss="alert">x</a> <span th:text="${error}"/>
                                </div>
                                <form th:action="@{/auth/sign-up.html}" method="POST">
                                    <input type="email" id="email" th:placeholder="#{email}" name="email" class="input-xlarge" field="email" required="" />
                                    <input type="password" id="password" th:placeholder="#{password}" name="password" class="input-xlarge" field="password"
                                           minlength ="6" required="" />
                                    <button type="submit" class="btn btn-success btn-block" th:utext="#{sign_up}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer div -->
    <body layout:include="fragments/footer :: footerFragment" th:remove="tag"/>
</div>
<!-- scripts -->
<body layout:include="fragments/scripts :: scriptsFragment" th:remove="tag"/>
<script th:src="@{/js/bootstrap/jqBootstrapValidation.js}" />
<script>
    $(function () {
        //enable form validation
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    } );
</script>
<!-- switch to sign up tab -->
<div th:if="${registerTab}">
    <script>
        $(function () {
            $('#signUpTabLink').click();
        } );
    </script>
</div>
</body>
</html>

