<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body layout:fragment="navbarFragment">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav" id="main-menu-left">
                        <!-- for NOT authenticated users -->
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/}">
                            <img th:src="@{/img/home_icon.png}" th:alt="#{home}"/>
                            </a>
                        </li>
                    </ul>
                    <!-- for authenticated users -->
                    <ul style="padding-right: 30px;" class="nav pull-right" id="main-menu-right" sec:authorize="isAuthenticated()">
                        <a id="user-logout" class="btn" th:href="@{j_spring_security_logout}"/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="page-header">
            <h1> </h1>
        </div>
    </section>
</body>
</html>