.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 20px 0;
    text-align: center;
    bottom:0;
}

.page-header{

    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.centered-div{
    margin:0 auto !important;
    float:none !important;
}

#user-logout {
    background: url("images/user-logout.png") no-repeat scroll 50% 50% #EDEDED;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.dropdown-toggle{
    cursor: pointer;
}

.tab-content {
    overflow: visible !important;
}

.dropdown-menu > li > a {
    cursor: pointer;
}

.modal-body {
    max-height: 500px !important;
}

.control-group .select2-choice{
    width: 450px;
}

.full-width{
    width: 100%;
}

.half-width{
    width: 50% !important;
}
/**
    timepicker styles
*/
.bootstrap-timepicker-widget table td input {
    width: 45px !important;
}
.modal-header .close {
    visibility: hidden !important;
}

.modal-content table {
    margin: 20px;
}

.icon-time, .icon-th{
    cursor: pointer;
}

.table-condensed td {
    cursor: pointer;
}

.next, .prev{
    cursor: pointer;
}

.bootstrap-timepicker-widget .modal-header h3 {
    font-size: 20px !important;
}

.datepicker{
    z-index: 1151 !important;
}

.open > .dropdown-menu {
    display: block !important;
}

.red{
    color: red !important;
}

.font-size-14{
    font-size: 14px !important;
}

.right {
    float: right;
}

#joggingTable_range_from_5, #joggingTable_range_to_5 {
    width: 100px;
    cursor: pointer;
    margin-bottom: 0;
}

#joggingTable_filter{
    display: none;
}

.bootstrap-timepicker-widget{
    height: 50% !important;
    left: 50% !important;
    position: absolute;
}
