<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<head layout:include="fragments/header :: headerFragment" th:remove="tag"/>
<title>Access Denied</title>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<body layout:include="fragments/navbar :: navbarFragment"/>
<div class="container">
    <div class="hero-unit center">
        <h1>Access Denied <small><font face="Tahoma" color="red">Status 403</font></small></h1>
        <br />
        <p>You don't have permissions to view requested page.</p>
        <a th:href="@{/}" class="btn btn-large btn-success"><i class="icon-home icon-white"></i> Take Me Home</a>
    </div>
    <br />
</div>
</body>
</html>
