<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <head layout:include="fragments/header :: headerFragment" th:remove="tag"/>
    <title>Page Not Found</title>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<body layout:include="fragments/navbar :: navbarFragment"/>
<div class="container">
    <div class="hero-unit center">
        <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
        <br />
        <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers
            <b>Back</b> button to navigate to the page you have previously come from</p>
        <a th:href="@{/}" class="btn btn-large btn-success"><i class="icon-home icon-white"></i> Take Me Home</a>
    </div>
    <br />
</div>
</body>
</html>
