<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <head layout:include="fragments/header :: headerFragment" th:remove="tag"/>
    <title>Something goes wrong</title>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<body layout:include="fragments/navbar :: navbarFragment"/>
<div class="container">
    <div class="hero-unit center">
        <h1>Something goes wrong <small><font face="Tahoma" color="red">Error 500</font></small></h1>
        <br />
        <p>The page you requested cause an error, please contact to support and we will fix it.</p>
        <p th:text="@{'Reason: '+ ${exception}}" />
        <a th:href="@{/}" class="btn btn-large btn-success">Home</a>
    </div>
    <br />
</div>
</body>
</html>
