<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<head layout:include="fragments/header :: headerFragment" th:remove="tag"/>
<title th:utext="#{dashboard}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/datatable/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/datatable/jquery.dataTables_themeroller.min.css}" />
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<body layout:include="fragments/navbar :: navbarFragment" th:remove="tag"/>
<div class="container">
    <!--tables block -->
    <section class="span10 centered-div">
        <!-- connections -->
        <div class="page-header">
            <h1 th:utext="#{jogging}"/>
        </div>
    </section>

    <!--expenses list table-->
    <section class="span12 centered-div">
        <table id="joggingTable" class="table table-responsive table-condensed table-blue location_header">
            <thead>
            <tr>
                <th th:text="#{date}"/>
                <th th:text="#{time}"/>
                <th th:text="#{distance}"/>
                <th th:text="#{speed}"/>
                <th th:text="#{comment}"/>
                <th > </th>
            </tr>
            </thead>
            <tbody/>
        </table>
        <div>
            <button class="btn btn-primary" onclick="showForm();" th:utext="#{add.record}"/>
            <a class="btn btn-info" th:href="@{/reports}" th:utext="#{download.report}"/>
        </div>
    </section>

    <!-- Modal popups block-->
    <!-- expense form popup-->
    <div id="success_msg" class="modal hide fade"/>
    <div id="joggingFormModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <h3 th:utext="#{jogging}"/>
        </div>
        <input type="hidden" id="saveUrl" />
        <input type="hidden" id="saveMethod" />
        <form method="post" id="jogging-form" th:object="${record}">
        <div class="modal-body">
            <input type="hidden" id="recordId" th:field="*{id}" />
            <div id="save_errors"/>
            <div>
                <label class="control-label" th:utext="#{select.date}"/>
                <div class="input-append date" id="datepicker" data-date="" required="true" data-date-format="mm-dd-yyyy">
                    <input th:field="*{date}" class="span2 datetimepicker-input" required="true" readonly="true" size="16" type="text" id="dateInput" />
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div>
                <label class="control-label" th:utext="#{time}"/>
                <div class="input-append bootstrap-timepicker">
                    <input th:field="*{time}" id="timepicker" type="text" required="true" class="input-small datetimepicker-input"/>
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" th:utext="#{distance.in.meters}"/>
                <input id="distance" th:field="*{distance}" class="span2" type="number" required="true" th:placeholder="0" step="1"
                       data-validation-regex-regex="0-9"
                       data-validation-regex-message="Please enter only digits"
                       data-validation-number-message="Please enter valid number" min="1" max="1000000"  />
            </div>
            <div class="control-group">
                <label class="control-label" th:utext="#{comment}"/>
                <textarea id="comment" th:field="*{comment}" class="span6" type="text" th:placeholder="#{comment}" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" th:utext="#{save.and.close}"/>
            <button class="btn" data-dismiss="modal" aria-hidden="true"  th:utext="#{cancel}"/>
        </div>
        </form>
    </div>

    <!-- remove modal -->
    <div id="removeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <h3 th:utext="#{confirmation}"/>
        </div>
        <div class="modal-body">
            <div id="delete_errors"/>
            <p th:utext="#{record.remove.confirmation.msg}"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="removeJogging();" th:utext="#{yes}"/>
            <button class="btn" data-dismiss="modal" aria-hidden="true" th:utext="#{no}"/>
        </div>
    </div>


    <!-- footer div -->
    <body layout:include="fragments/footer :: footerFragment" th:remove="tag"/>
</div>
<!-- scripts -->
<body layout:include="fragments/scripts :: scriptsFragment" th:remove="tag"/>

<script th:src="@{/js/bootstrap/bootstrap-datepicker.js}" />
<script th:src="@{/js/jquery/jquery.dataTables.min.js}" />
<script th:src="@{/js/jquery/jquery.datatables.columnFilter.js}" />
<script th:src="@{/js/custom/jogging.js}" />
<script th:src="@{/js/jquery/jquery.form.js}" />
<script th:src="@{/js/bootstrap/bootstrap-timepicker.js}" />
<script th:src="@{/js/bootstrap/jqBootstrapValidation.js}" />
<script>
    /**
     * onload method
     */
    $(document).ready(function() {
        $('#timepicker').timepicker({
            template: false,
            defaultTime: '00:00:01',
            showSeconds: true,
            showMeridian: false,
            minuteStep: 1,
            secondStep: 1
        });
        $('#datepicker').datepicker({
            format: "mm-dd-yyyy"
        });
    });
</script>


</body>
</html>